"custom/upower": {
  "exec": "/path/to/bin/waybar_upower run",
  "format": "{icon}  {percentage}%",
  "format-icons": {
    "Charging": [
      "⬆",
      "⬆",
      "⬆",
      "⬆",
      "⬆"
    ],
    "Discharging": [
      "⬇",
      "⬇",
      "⬇",
      "⬇",
      "⬇"
    ],
    "Fully charged": [
      "",
      "",
      "",
      "",
      ""
    ]
  },
  "hide-empty-text": true,
  "restart-interval": 60,
  "return-type": "json",
  "tooltip": true
}
